.title-format {
    font-size: 400%;
    padding-top: 50px;
}

.subtitle-format {
    padding-bottom: 50px;
}

.search-bar {
    padding-top: 50px;
}

.button-format {
    padding-left:20px !important;
    padding-right:20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.attraction-titleformat {
    margin:20px;
}

.attraction-check-format {
    margin-top:20px;
}