.custom_card {
    /* Add shadows to create the "card" effect */
    width: 7cm;
    margin: 1cm;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }


  .custom_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  /* Add some padding inside the card container */
  .card-display {
   display: flex;
   flex-flow: wrap;
   /* margin-left: 1cm; */
   max-width: 95%;
   margin: 0 auto
  }

  .search-bar {
    /* display: flex;
    flex-basis: auto; */
    /* justify-content: center; */
    max-width: 20cm;
    
    margin: 0 auto; 
  }

  .search-btn {
    width: 1.5cm;
  }

  .mb-3 {
    margin-top: 1cm;
  }